<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.z.student">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TableActivity"
            android:label="@string/title_activity_table"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".CourseList" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StudentList" />
        <activity android:name=".Info_Search" />
        <activity android:name=".Info_Save" />
        <activity android:name=".Info_Edit" />
        <activity android:name=".Info_List" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                enuActivity
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Edit" />
        <activity android:name=".searchActivity" />
    </application>

</manifest>